# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads (ne pas versionner les PDFs)
public/documents/*.pdf

# Prisma
prisma/migrations/

# Tests
coverage/
